body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(86, 21, 151);
    text-align: center;

}

#timer {
    font-size: 5em;
    font-weight: bold;
    margin-top: 30px;

}